.home{
    display: flex;
   
}
.home  .home_container{
    flex: 6;
    background-color: whitesmoke;
    color: #616161;
    
}
.home  .home_container .home_widget{
    display: flex;
    padding: 20px;
    gap: 20px;

}
.home .home_container .charts{
    padding:5px 20px;
    display: flex;

}
.home .home_container .list_container{
    box-shadow:2px 4px 10px 1px rgba(201,201,201,0.47);
    padding: 20px;
    margin: 20px;

}
.list_container .list_title{
    font-size: 20px;
    font-weight:500;
    color:#616161;
    margin-bottom: 15px;
}
