.newPage{
    display: flex;
    width:100%;
    background-color: whitesmoke;
    color:#616161;

}
.newPage .newContainer{
    flex:6;
}
.newContainer .top,.bottom{
    box-shadow:2px 4px 10px 1px rgba(201,201,201,0.47);
    border-radius: 10px;
    margin: 20px;
    display: flex;
    padding:5px;
   
}
.newContainer .top  h1{
    color: #616161;
    font-size: 20px;
}
.newContainer .bottom .left {
    flex: 1;
    
}
.newContainer .bottom .right{
    flex:2;

}
.left .image{
    height:120px;
    width: 120px;
    border-radius: 50%;


}
.newContainer  .bottom .right form{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    justify-content: space-around;

}
.newContainer  .bottom .right .formInput{
    width:40%;
}

.newContainer  .bottom .right .formInput label{
    display: flex;
    align-items: center;
    gap:10px;

}
.newContainer  .bottom .right .formInput label .icon{
    cursor: pointer;
}
 .formInput input{
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom:  1px solid grey;
    font-size: 18px;
    outline: none;
 
}
.formInput input::placeholder{
    font-size: 14px;
}
.buttonSend{
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #210876;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}